// latest jquery
script(src='../files-front/js/jquery-3.5.1.min.js')
// Bootstrap js
script(src='../files-front/js/bootstrap/bootstrap.bundle.min.js')
// feather icon js
script(src='../files-front/js/icons/feather-icon/feather.min.js')
script(src='../files-front/js/icons/feather-icon/feather-icon.js')
// Plugins JS start
script(src='../files-front/js/tooltip-init.js')
script(src='../files-front/js/animation/wow/wow.min.js')
script(src='../files-front/js/landing_sticky.js')
script(src='../files-front/js/landing.js')
script(src='../files-front/js/jarallax_libs/libs.min.js')
script(src='../files-front/js/slick/slick.min.js')
script(src='../files-front/js/slick/slick.js')
script(src='../files-front/js/landing-slick.js')
// Plugins JS Ends